{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="content max-width-1 m-auto">
    <div class="content-left">
        <h1>Storytelling</h1>
        <p>The weapon of mass attraction is the ability to communicate. I wish I’d figured
            this out earlier: Money, mates, and meaning are all moths to the flame of storytelling.
            I’m on a flight from London to LA, where I’ll kick off a six-city tour (then to San Diego,
            Seattle, Austin, NYC, and Miami). In each city, I’ll stand in front of several hundred
            people with a hundred-plus charts peering down from behind. Then I’ll tell stories. My
            favorite part is the Q&A, which is a real test of skills. Plus, people are, generally,
            wonderful. Most are (offline) super nice and ask a question that reveals something about
            themselves, and we all feel closer. One query I get often is “What class/skill would you
            suggest our kids take/learn to compete in the modern economy?”  </p>
    </div>
    <div class="content-right">
        <img src="{% static 'img/back.jpg' %}" alt="-Blog">
    </div>
</div>
<div class="max-width-1 m-auto">
    <hr>
</div>
{% endblock %}